@import '~styles/variables';

.project-info {
  position: relative;
  top: 0;
  height: auto;
  min-height: auto;
  padding-top: $paddingFull;
  border-top: 5px solid #f7f7f7;
  border-bottom: 5px solid #f7f7f7;
  font-family: $serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
  margin-bottom: $paddingFull;

  span {
    color: $primary;
    font-weight: 400;
    padding-right: 15px;
  }

  .col {
    margin-bottom: $paddingFull;
  }

  b {
    font-weight: 600;
    color: #304a5a;
  }
}

.project-info + section {
  border-top: none;
}