//type variables
$base-font-size: 16;
$base-line-height: 24;
$nav-height: 60px;
$headerHeight: 70px;
$stageHeight: calc(100% -  #{$headerHeight});
$stageWidth: 70%;
$rightWidth: 350px;
// font-family: 'Open Sans', sans-serif;
$fontLight: 'HelveticaLTStd-Light';
$fontReg: 'HelveticaNeueLTStd-Roman';
$fontMedium: 'HelveticaNeueLTStd-Md';
$fontBold: 'HelveticaNeueLTStd-Bd';
// $serif: "adobe-garamond-pro";
$serif: 'Source Code Pro';
$europaLight: "Europa-Light";
$europaRegular: "Europa-Regular";
$europaBold: "Europa-Bold";
$contextualSidebarWidth: 280px;

$border: 1px solid #e8e8e8;
$borderRadius: 4px;
$boxShadow: 0 4px 6px 0px rgba(0,0,0,0.1);

$primary: #6B7B87;
$dark: #212121;
$medium: rgba(0,0,0,0.6);
$light: #868686;
$stage: #0D071E;
$teal: #4fc1b2;
$darkTeal: #21a696;
$blue: #0aa3da;
$brightBlue: #3fabf5;
$brightGreen: #50e3c2;
$brightPurple: #B359F3;

$paddingDouble: 60px;
$paddingFull: 30px;
$paddingHalf: 15px;
$paddingThird: 10px;
$paddingFourth: 7.5px;
$buttonPadding: 8px 28px 8px;

$fontSize: #{$base-font-size}px;
$fontColor: black;

@mixin cardShadow($color: $primary) {
  box-shadow: inset 0px 3px 0px 0px $color;
}

// responsive mixin
@mixin responsive($max, $min: 0) {
  @media only screen and (min-width: ($min * 1px)) and (max-width: ($max * 1px)) {@content}
}

$headings: (
  h1: 48,
  h2: 32,
  h3: 28,
  h4: 24,
  h5: 16,
  h6: 16
);

%flexContainer {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: space-between;
}