<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head itemscope itemtype="http://schema.org/WebPage">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Katherine Martinez | Designer & developer</title>
    <meta name="author" content="Katherine Martinez">
    <meta name="description" content="My name is Katherine Martinez and I'm designer/developer living in New York City. With a background in film and media production, I've always been a visual storyteller driven by a need to understand and influence my audience.">
    <meta name="keywords" content="UI Designer, UX Designer, UX Developer, Graphic Designer, User Experience Designer, Portfolio, frontend developer">
    <!-- open graph -->
    <meta property="og:title" content="kmartinezmedia">
    <meta property="og:description" content="My name is Katherine Martinez and I'm designer/developer living in New York City. With a background in film and media production, I've always been a visual storyteller driven by a need to understand and influence my audience.">
    <meta property="og:url" content="https://kmartinezmedia.com">
    <meta property="og:type" content="website">
    <!-- social share image -->
    <meta property="og:image" content="https://kmartinezmedia.com/social.jpg">
    <meta name="twitter:image" content="https://kmartinezmedia.com/social.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@kmartinezmedia">
    <meta name="msapplication-tap-highlight" content="no" />
    <!-- icons -->
    <link itemprop="image" href="//kmartinezmedia.com/social.jpg">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="kmartinezmedia">
    <meta name="application-name" content="kmartinezmedia">
    <meta name="theme-color" content="#ffffff">
    <script type="text/javascript">
    //uncomment and change this to false if you're having trouble with WOFFs
    var woffEnabled = true;
    //to place your webfonts in a custom directory 
    //uncomment this and set it to where your webfonts are.
    var customPath = "/";
    </script>
     <script type="text/javascript" src="webfonts/webfont.js"></script>
    <script src="https://use.typekit.net/vux6myh.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" href="fonts.css">
  </head>
  <body>
    <div id="app">
    </div>
    <script defer async src="zenscroll-min.js"></script>
    <script defer async src="snap.svg.js"></script>
    <script defer async src="https://polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,Array.prototype.fill"></script>
    <% if (process.env.NODE_ENV == "production") { %>
      <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-97880477-1', 'auto');
        ga('send', 'pageview');
      </script>
      <script async defer src='https://www.google-analytics.com/analytics.js'></script>
      <script>
        console.log('Pssst. I love connecting with curious devs like you. Add me on linkedin https://www.linkedin.com/in/kmartinezmedia/')
      </script>
    <% } %>
  </body>
</html>
