@import '~styles/variables';

.framework-grid-container {
  margin: $paddingFull auto;


  .framework-logo {
    display: inline-block;
    margin-right: 10px;
    height: 30px;
    width: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}