@import '~styles/variables';


.error-page {
  height: calc(100vh - #{$headerHeight});
  background-color: $primary;
  white-space: normal;

  .svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; 
    vertical-align: middle; 
    overflow: hidden; 

    .svg-content {
      background-color: #105776;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  h1 {
    font-size: 46px;
    line-height: 64.72px;
  }

  p {
    font-size: 18px;
    line-height: 29.12px;
  }

  button.button {
    background-color: #105776;
    padding: 12px 26px;
  }

  .logo {
    position: absolute;
    top: 16px;
    left: 20px;
    height: 30px;
    width: 114px;
    z-index: 112;
  }

  .error-text {
    color: $primary;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 111;
    width: 30%;

    h1 {
      font-family: $europaLight;
      font-size: 46px;
      padding: 0;
      margin: 0;
    }

    p {
      font-family: $europaRegular;
      margin-top: $paddingFull;
    }
  }

  #mask {
    position: absolute;
    top: -5px;
    width: 100%;
    height: 105%;
    right: 0;
    z-index: 110;
  }
}